@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);

@font-face {
  font-family: Adam-Bold;
  src: url(adam/Adam-Bold.ttf);
}

@font-face {
  font-family: Adam-Light;
  src: url(adam/Adam-Light.ttf);
}

@font-face {
  font-family: Qaz;
  src: url(qaz-font/Qaz-ZV74m.ttf);
}

:root {  
  --purple: rgb(103, 31, 162);
  --violet: rgb(184, 34, 152);
  --pink: rgb(175, 29, 68);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}
* {
  font-family: Adam-Light, sans-serif;
}
body {
  margin: 0;
}

html {
  background-image: linear-gradient(to bottom right, black, rgb(52, 52, 52));
  color: white;
  scroll-behavior: smooth;
}

.hook {
  text-align: center;
  padding-top: 420px;
  padding-bottom: 420px;
  font-family: Adam-Light, sans-serif;
  font-size: 40px;
}

.magic {
  font-family: Qaz;
  animation: background-pan 2s linear infinite;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--violet),
    var(--pink),
    var(--purple)
  );
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  cursor: default;
}

.fa {
	width: 60px;
	display: block;
	text-align: center;
	color:#ffffff;
	font:normal 45px 'FontAwesome';
	line-height:60px;
	-webkit-font-smoothing: antialiased;
}

.fa-angle-double-down:before {content: "\f107";}

.bounce {
	position: absolute;
	bottom: 30px;
	left: 50% ;
	width: 60px;
	height: 60px ;
	margin-left:-30px;
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
	-o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #ffffff;
}
section:nth-child(2) {
  color: #ffffff;
  background: #525353;
}
section:nth-child(3) {
  color: #ffffff;
}
section:nth-child(4) {
  color: #ffffff;
  background: #525353;
}
section .container {
  margin: 100px;
}
section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container {
  display: flex;
}
section .text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #878787;
}
section .text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}
.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sinc {
  text-align: center;
  font-size: 80px;
  text-transform: uppercase;
  padding-top: -80px;
  padding-bottom: 80px;
}

.sincMotto {
  text-align: center;
  font-size: 60px;
  padding-top: -80px;
  padding-bottom: 80px;
}

@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");

img {
  width: 100%;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: inherit;
}
.footer__redes-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 45px auto;
}
.footer__redes-wrapper li {
  display: inline-block;
}
.footer__redes-wrapper li:hover {
  color: var(--gray);
}
.footer__link {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: rem(14);
}
.footer .fab {
  margin-right: 8px;
}
.footer__texto {
  color: var(--light-gray);
  text-align: center;
}
